body {
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    font-weight: 300;
    fill: #242424;
    text-align: center;
    text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
    cursor: default;
}

.line-text {
    font-size: 15px;
    fill: #333333;
}

.foot-title {
    font-size: 20px;
    fill: #333333;
}

.tooltip {
    fill: #333333;
}

svg{
    height:100%;
    width:100%;
}
.title {
    font-size: 25px;
    font-weight: 500;
    fill: #242424;
}